h1,
h3 {
  color: #ff4400;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
}
.background__palmy {
  background-image: url("../src/palmy.png");
}
.background__jezero {
  background-image: url("../src/jezero.png");
}
.background__nakole {
  background-image: url("../src/nakole.png");
}
.background__lodicka {
  background-image: url("../src/lodicka.png");
}
.background__podkova {
  background-image: url("../src/podkova.png");
}
.background__zatoka {
  background-image: url("../src/zatoka.png");
}

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 60px);
  justify-items: center;
  text-align: center;
  color: #ff4400;
  padding: 0;
}
.navigation__img {
  width: 60%;
}
.navigation__item {
  list-style-type: none;
  width: 100%;
}
.navigation__item--logo {
  grid-column: 1/-1;
}
.navigation__link {
  color: #ff4400;
  text-decoration: none;
  margin: 20px 0;
  padding: 1rem 0;
}
.navigation__link:hover {
  color: #ffffff;
  background-color: #ff4400;
}
@media screen and (min-width: 768px) {
  .navigation {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 20px 0;
  }
  .navigation__item--logo {
    grid-column: 1/2;
  }
}
@media screen and (min-width: 960px) {
  .navigation {
    grid-template-columns: 2fr 3fr repeat(3, 1fr);
  }
  .navigation__item--logo {
    grid-column: 1/2;
  }
  .navigation__item--lastMinute {
    grid-column: 3/4;
  }
}

.advertisement__item {
  padding: 20px;
  margin: 20px 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.advertisement__price {
  align-self: flex-start;
  padding: 0.5rem;
  margin: 0;
  background-color: #ff4400;
  align-self: start;
}
.advertisement__title {
  margin-bottom: 0;
  margin-top: 3rem;
}
.advertisement__text {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .advertisement {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 180px);
    gap: 20px;
  }
  .advertisement__item--main {
    grid-column: 1/-1;
    grid-row: 1/3;
  }
}
@media screen and (min-width: 960px) {
  .advertisement {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 180px);
  }
  .advertisement__item {
    margin: 0;
  }
  .advertisement__item--main {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}

.info__item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  background-color: #f0f0f0;
  margin: 10px 0;
}
.info__icon {
  grid-column: 1/2;
  grid-row: 1/3;
  justify-self: center;
}
.info__text {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px 0;
    gap: 20px;
  }
  .info__item {
    margin: 0;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 20px;
  }
  .info__icon {
    grid-column: 1/2;
    grid-row: 1/1;
  }
  .info__text {
    margin: 0;
  }
}
@media screen and (min-width: 960px) {
  .info {
    grid-template-columns: repeat(4, 1fr);
  }
}

.news__date {
  color: #888888;
}
.news__item {
  padding: 20px;
  background-color: #f0f0f0;
  margin: 10px 0;
}
@media screen and (min-width: 960px) {
  .news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .news__title {
    grid-column: 1/-1;
  }
}

.footer {
  text-align: center;
  padding: 0.5rem 0;
  margin: 20px 0 0 0;
  background-color: #444444;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */