$primary: #ff4400;
$white: #ffffff;
$background: #f0f0f0;

$spacer: 20px;

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: $spacer;
  margin: 0;
}

h1,
h3 {
  color: $primary;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: baseline;
  text-align: center;
  color: $primary;
  padding: 0;
  font-size: 18px;
  margin: 0 0 ($spacer + ($spacer/2)) 0;

  &__item {
    list-style-type: none;
    width: 100%;
    margin: $spacer 0;
  }

  &__item--logo {
    grid-column: 1/-1;
    padding: $spacer $spacer/2;
    margin: 0;
  }

  &__link {
    color: $primary;
    text-decoration: none;
    padding: $spacer $spacer/2;

    &:hover,
    &:focus {
      color: $white;
      background-color: $primary;
    }
  }

  &__link--logo {
    padding: 0;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      margin-bottom: $spacer * 2;
      align-items: center;
    }

    &__item--logo {
      grid-column: 1/2;
    }
  }

  @media screen and (min-width: 960px) {
    & {
      grid-template-columns: 2fr 3fr repeat(3, 1.5fr);
    }

    &__item--logo {
      grid-column: 1/2;
    }

    &__item--lastMinute {
      grid-column: 3/4;
    }
  }
}

.advertisement {
  &__item {
    padding: $spacer;
    margin: $spacer 0;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    position: relative;
  }

  &__item--main {
    min-height: 240px;
  }

  &__item--trip {
    justify-content: flex-end;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
  }

  &__price {
    align-self: flex-start;
    padding: 0.5rem;
    margin: 0;
    background-color: $primary;
    align-self: start;
    font-size: 18px;
  }

  &__title {
    margin-bottom: 0;
    margin-top: 3rem;
    font-size: 20px;
    font-weight: 600;
  }

  &__title--main {
    font-size: 28px;
  }

  &__text {
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
  }

  @media screen and (min-width: 768px) {
    & {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: $spacer;

      &__item--main {
        grid-column: 1/-1;
        grid-row: 1/3;
      }

      &__item {
        margin: 0;
      }
    }
  }

  @media screen and (min-width: 960px) {
    & {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);

      &__item {
        margin: 0;
      }

      &__item--main {
        grid-column: 1/3;
        grid-row: 1/3;
      }
    }
  }
}

.textMain p {
  font-family: 'Open Sans', sans-serif;
}

.textMain::before {
  content: (' ');
  display: block;
  height: 2px;
  background-color: $primary;
  margin-bottom: $spacer;
}

@media screen and (min-width: 960px) {
  .advertisement--textMain {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .advertisement__item--textMain {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .advertisement__text--textMain {
    display: none;
  }
}

.info {
  margin: $spacer * 2 0;
  &__item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    background-color: $background;
    margin: $spacer/2 0;
  }

  &__icon {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
  }

  &__text {
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
  }

  &__title {
    font-size: 18px;
  }

  @media screen and (min-width: 768px) {
    & {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: $spacer * 2 0;
      gap: $spacer;
    }

    &__item {
      margin: 0;
      grid-template-columns: 1fr;
      text-align: center;
      padding: $spacer;
    }

    &__icon {
      grid-column: 1 / 2;
      grid-row: 1 / 1;
    }

    &__text {
      margin: 0;
    }
  }

  @media screen and (min-width: 960px) {
    & {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.news {
  margin: $spacer * 2 0;

  &__item {
    padding: $spacer;
    background-color: $background;
    margin: $spacer 0;
  }

  &__h2 {
    font-size: 24px;
    font-weight: 600;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    margin: $spacer/2 0;
  }

  &__date {
    margin: 0;
    color: #888888;
  }

  &__text {
    margin: 0;
  }
  @media screen and (min-width: 960px) {
    & {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0 $spacer;
    }

    &__h2 {
      grid-column: 1 / -1;
      margin-top: 0;
    }

    &__item {
      margin: 0;
    }
  }
}

.tripInfo {
  margin: $spacer/2 + $spacer 0;

  &__item {
    background-color: #e5e5e5;
    padding: $spacer;
    margin: $spacer 0;
    font-family: 'Open Sans', sans-serif;
  }

  &__title {
    text-transform: uppercase;
    color: #888888;
    margin-top: 0;
    font-size: 14px;
    font-weight: 400;
  }

  &__text {
    margin: 0;
  }

  &__item--price {
    background-color: $primary;
  }

  &__title--price {
    color: $white;
  }

  &__priceTag {
    color: $white;
    font-weight: bold;
    font-size: 28px;
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    & {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $spacer;
      margin: $spacer * 2 0;
    }

    &__item {
      margin: 0;
    }
  }

  @media screen and (min-width: 960px) {
    & {
      grid-template-columns: 1fr;
      margin: 0;
    }
  }
}

.tripText {
  @media screen and (min-width: 960px) {
    & {
      grid-column: 1 / 3;
      margin-top: $spacer * 2;
    }
  }
}

.tripText p {
  font-family: 'Open Sans', sans-serif;
}

.tripGallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacer;
  margin: $spacer/2 + $spacer 0;

  @media screen and (min-width: 768px) {
    & {
      grid-template-columns: repeat(3, 1fr);
      margin: $spacer * 2 0;
    }
  }

  @media screen and (min-width: 960px) {
    & {
      grid-column: 1 / 3;
    }
  }
}

.wrapper {
  &__content {
    margin-bottom: $spacer * 2;
  }

  @media screen and (min-width: 960px) {
    & {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      gap: 0 $spacer;
    }

    &__content {
      grid-column: 1 /3;
    }
  }
}

.footer {
  text-align: center;
  padding: 0.5rem 0;
  margin: $spacer * 2 0 0 0;
  background-color: #444444;
  color: #ffffff;
}
