$primary: #ff4400;
$white: #ffffff;
$background: #f0f0f0;

$spacer: 20px;

h1,
h3 {
  color: $primary;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;

  &__palmy {
    background-image: url('../src/palmy.png');
  }
  &__jezero {
    background-image: url('../src/jezero.png');
  }
  &__nakole {
    background-image: url('../src/nakole.png');
  }
  &__lodicka {
    background-image: url('../src/lodicka.png');
  }
  &__podkova {
    background-image: url('../src/podkova.png');
  }
  &__zatoka {
    background-image: url('../src/zatoka.png');
  }
}

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 60px);
  justify-items: center;
  text-align: center;
  color: $primary;
  padding: 0;

  &__img {
    width: 60%;
  }

  &__item {
    list-style-type: none;
    width: 100%;
  }

  &__item--logo {
    grid-column: 1/-1;
  }

  &__link {
    color: $primary;
    text-decoration: none;
    margin: $spacer 0;
    padding: 1rem 0;

    &:hover {
      color: $white;
      background-color: $primary;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      margin: $spacer 0;
    }
    &__item--logo {
      grid-column: 1/2;
    }
  }
}

.advertisement {
  &__item {
    padding: $spacer;
    margin: $spacer 0;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }

  &__price {
    align-self: flex-start;
    padding: 0.5rem;
    margin: 0;
    background-color: $primary;
    align-self: start;
  }

  &__title {
    margin-bottom: 0;
    margin-top: 3rem;
  }

  &__text {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    & {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 180px);
      gap: $spacer;

      &__item--main {
        grid-column: 1/-1;
        grid-row: 1/3;
      }
    }
  }
}

.info {
  &__item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    background-color: $background;
    margin: $spacer/2 0;
  }

  &__icon {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
  }

  &__text {
    margin-top: 0;
  }

  @media screen and (min-width: 768px) {
    & {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: $spacer * 2 0;
      gap: $spacer;
    }

    &__item {
      margin: 0;
      grid-template-columns: 1fr;
      text-align: center;
      padding: $spacer;
    }

    &__icon {
      grid-column: 1 / 2;
      grid-row: 1 / 1;
    }

    &__text {
      margin: 0;
    }
  }
}

.news {
  &__date {
    color: #888888;
  }

  &__item {
    padding: $spacer;
    background-color: $background;
    margin: $spacer/2 0;
  }
}

.footer {
  text-align: center;
  padding: 0.5rem 0;
  margin: $spacer 0 0 0;
  background-color: #444444;
  color: #ffffff;
}
